@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #C58A10  ;
	margin: 5px;
	padding: 0;
	color: #000;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}

a:link {
	color: #FFF;
	display: inline;
	text-decoration: none;
	margin: 35px
}
a:visited {
	color: #CCC  ;
	text-decoration: none;

}
a:hover, a:active, a:focus { 
	text-decoration: none;
	color: #FC3
}

.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	background: #FFF;
	margin: 0 auto;
        }
.containernav {
	width: 100%;
	max-width: 1260px;
	min-width: 780px;
	background: #030;
	text-align:left;
	padding-left: 0px;
	text-decoration: none;
	color: #FFF;
	clear: both;
	float: none;

}

.login {
	float: right;
	font-size:12px;
	clear: none;
	background-color: #CCC;
	border: thin solid #333;
	padding: 4px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	position: relative;
}

.signup {
	font-size:12px;
	clear: none;
	background-color: #CCC;
	border: thin solid #333;
	padding: 4px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	position: relative;
	text-align: left;
	width: 60%
}

	.threecol
{
	width: 30%;
	margin: 2px;
	margin-right: 22px;
	float:right;
	font-size: 14px;

	text-align: right;
	text-align: right;
	border: thin solid #999;
}

.threecol a:link
{
	
	color: #00C;
	display: inline;
	text-decoration: underline;
	margin: 2px;
}
	

.threecol a:visited {
	color: #00C;

}
.threecol a:hover, a:active, a:focus { 
	text-decoration: none;
	color: #06F;
}
.header {
	background: #FFF;
}


.content {
	padding: 10px 0;
        height: 100%;
}
.contentClear {
        height: 100%;
        pading: 2px;
        clear: both;
}

.contentClear a:link,.content a:visited{
	color: blue;
	display: inline;
	text-decoration: none;
        margin: 1px;
}


.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}


.footer {
	padding: 10px 0;
	background: #030;
	color: #FFF;
	font-size: 11px;
	text-align: center
}


.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.required {
    color: red;
}

.errorMessage {
    background: pink;
    color: red;
    border: solid red 1px;
    padding: 3px;
    width: 80%;
    list-style: none;
}

.fieldset {
    width: 400px;
    margin: 25px; 
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
}
.legend {
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 2px;
    text-align: left;
    text-transform: uppercase;}

.input[type=submit] {
    color: #444444;
    font-size: 18px;
    border-radius: 5px;
    padding-bottom: 3px;
    border: 1px solid #b2b2b2;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.image
{ float: right;
  clear: both;
  margin-right: 15px;
  padding: 2px;
}

.numberColumn {
    text-align: right;
    }
.dashboard {
    width: 24%;
    float: right;
    margin: 6px;
    margin-right:25px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
}

.dashboard2 {
    width:42%;
    float: right;
    margin: 11px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
  }

.dashboardCosts {
    width: 300px;
    float: right;
    clear: both;
    margin: 6px;
    margin-right:25px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
}

.dashboardTable {
    width: 90%;
    background-color: #dcdcdc;
    color: darkgreen;
    margin-right:50px;
    border: 1px solid #dcdcdc;
    padding: 15px;
    text-align: left; 
     border-radius: 10px;
}
table.projectItems, table.projectItems tr td{
    text-decoration: captiontext;
    background-color: #FFF;
    border-collapse: collapse;
    padding: 2px;
    text-align: right;
    font-size: 9pt !important;
    border: 1px darkgreen solid;
}

.results {
	padding: 10px 0;
	/*border: thin solid #999;
	background-color:#FFFF66;*/
        color: black;
}
.results a:link, .results a:visited {
    color: blue; 
    text-decoration: underline;
}

.results a:hover,  .results a:active, .results a:focus { 
	text-decoration: none;
	color: blue;
}
